.Posts{
    padding: 20px 50px;
}

.PostsContainer{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
}


.Row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.Column{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

