.Button{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    margin: 5px;
    padding: 10px;
    font-size: inherit;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    box-shadow: 2px 3px 4px #808080;

}

/* .Button:first-of-type{
    margin-left: 0;
} */

.Button:hover, 
.Button:active{
    background-color: #fff;
    border: 1px solid #000;
    color: #000000;
}

.Button:disabled{
    background-color: #D3D3D3;
    color: #808080;
    border: 1px solid #ccc;
}

.Default{
    background-color: #F8F8F8;
    color: #000;
}

.Success{
    background-color: limegreen;
    color: #000;

}

.Danger{
    background-color: crimson;
    color: #000;

}

.Warning{
    background-color: #FF9900;
    color: #000;

}

